@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h3 {
    
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: rgb(15, 70, 107);
}

.subtitle {
    color: rgb(15, 70, 107);
}

.add-item-form {
    display: flex;
    flex-direction: column;
    width: 240px;
    gap: 10px;
}

.add-item-form input {
    padding-left: 10px;
    height: 30px;
    border: 1px solid rgb(23, 84, 216);
    border-radius: 6px;
    color: rgb(250, 243, 243);
    outline: none;
}

.add-item-form input [type="submit"] {
    background-color: rebeccapurple;
    color: rgb(7, 85, 124);
    cursor: pointer;
}

.todo-list {
    padding: 0;
    list-style: none;
}

.todo-item {
    border: 2px solid red;
    width: 240px;
    background-color: rgb(15, 173, 201);
    color: white;
    box-shadow: inset 0 0 2px rgb(0, 0, 0, 0.367);
    text-align: center;
}

.todo-item::before {
    position: absolute;
    top: 1px;
    left: 5px;
    content: "- ";
    opacity: 0.6;

}

.todo-item:hover {
    background-color: rgb(192, 111, 4);
    color: rgb(97, 11, 177);
}