.todo {
  background-color: #fefefe;
  text-decoration: none;
  list-style: none;
  border-radius: 6px;
  /* height: 48px; */
  min-width: 240px;
  margin: 4px;
  display: flex;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  align-items: center;

  transition: all 0.35s ease-in;
  justify-content: space-between;
  font-size: 20px;
  width: 320px;
}

.todo:hover {
  scale: 1.03;
}

.active-todo {
  background-color: #e0d3ca;
  text-decoration: line-through;
}

.close-todo {
  width: 30px;
  margin: 6px;
  border-radius: 6px;
  text-align: center;
  transition: background-color 0.35s ease-in;
  font-weight: bold;
  cursor: pointer;
}

.close-todo:hover {
  background-color: #cd3737;
  color: #fefefe;
}

.check-done-todo {
  margin: 0px;
  padding: 0px;
  justify-self: flex-end;
}

.check-not-done {
  cursor: pointer;
  width: 24px;
  height: 22px;
  margin: 6px 6px 0px 6px;
  border-radius: 6px;
  text-align: center;
  transition: scale 0.35s ease-in;
}
.check-done {
  cursor: pointer;
  width: 24px;
  height: 22px;
  margin: 6px 6px 0px 6px;
  border-radius: 6px;
  text-align: center;
  transition: scale 0.35s ease-in;
}

.check-not-done:hover {
  scale: 1.1;
}

.check-done:hover {
  scale: 1.1;
}
