html {
  font-family: Helvetica;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h3 {
  margin: 0;
}

body {
  background-color: rgb(240, 180, 101);
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 70%;
  margin: 40px auto;
  background-color: rgb(252, 216, 150);
}
@media only screen and (max-width: 767px) {
  #root {
    width: 90vw;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(240, 180, 101);
  padding-top: 20px;
  margin-top: 40px;
}

.title,
.subtitle {
  color: #020100;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  width: 100%;
}

.add-item-form input {
  padding: 5px;
  height: 30px;
  border: 1px solid #3b46e6;
  border-radius: 6px;
  color: #0678be;
  font-family: Helvetica;
  outline: none;
}

.add-item-form input[type="submit"] {
  background-color: #3b46e6;
  color: #ffffff;
  cursor: pointer;
}

.add-item-form input[type="submit"]:active {
  background-color: #3b46e6;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.contact-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  width: 80%;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  color: #000000;
  font-size: 16px;
  font-family: Helvetica;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.367);
  text-align: center;
  cursor: pointer;
  transition: all 0.35s;
}

.contact-item::before {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 2rem;
  opacity: 1;
}

.contact-item:hover {
  background-color: #3b46e6;
  color: #ffffff;
}

.popup {
  background-color: #dcf598;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-element {
  position: absolute;
  top: 20px;
  left: 10px;
  border: 1px solid;
  display: flex;
}

.search-element button {
  background-color: #ffffff;
  cursor: pointer;
  padding-left: 25px;
  background-image: url(/contactlist/img/magnifying-glass-solid.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
}

.search-element button:hover {
  background-color: #ff5454;
}

@media only screen and (max-width: 767px) {
  .search-element {
    top: 20px;
    left: 10px;
  }
}
