@use "../../assets/mixins";

.caroselloBox {
  position: relative;
  margin: 0 auto;

  .arrowBox {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    // display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;

    @include mixins.desktop() {
      display: flex;
    }

    .icone {
      // background-color: black;
      color: yellow;
      font-size: 2rem;
      // border-radius: 100%;
      cursor: pointer;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.389));
      pointer-events: all;
    }
  }

  .carosello {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 10px;
    overflow: scroll;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
    // border: 2px solid red;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
