.Hero {
  position: relative;

  h2 {
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: transparent;
    width: 100%;
    height: min-content;
    font-size: medium;

    color: yellow;
  }

  img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

  .heroBtn {
    position: absolute;
    top: 20px;
    right: 10px;

    border: none;
    border-radius: 8px;
    background-color: white;
    color: black;

    text-align: center;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}
