.searchForm {
  margin: 10px;
  padding: 10px 0;

  .searchInput {
    outline: none;
    border-radius: 3px;
  }
}

.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
