body {
    margin: 0;
    background-color: rgb(138, 219, 219);
}
.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divCont {
    width: 100%;
    padding: 15px;
    /* border: 1px solid red; */
  }