@use "../../assets/mixins";

.movieCard {
  @include mixins.card-dimension();
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  scroll-snap-align: center;
  cursor: pointer;
  transition: all 0.35s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  p {
    height: 15%;
    width: 100%;
    display: flex;
    padding: 0 10px;
    justify-content: center;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.569);
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    color: #fff;
  }
}
