* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #111;
}

body {
    box-sizing: border-box;
}
h1 {
    font-weight: 600;
    font-size: 30px;
    background-color: #111;
    color: #fff;
    padding: 10px;
}
h2 {
    font-size: 25px;
}
p {
    font-size: 18px;
}
section {
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #111;
    padding-bottom: 30px;
}
#calculator  {
    border: none;
}
button {
    background-color: #111;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
button:hover {
    background-color: #e4395e;
    cursor: pointer;
}
/* .root {
   
} */
/* 
Carousel scrollabile

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 30px;
}
.card-wrapper {
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    color: white;
    scroll-snap-align: start;
    transition: transform 0.35s;
    cursor: pointer;
} */

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.card-wrapper {
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    transition: transform 0.35s;
}
.card-wrapper div:hover {
    transform: scale(1.1);
}
.card-title {
    display: none;
}
.card-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.35s;
    border-radius: 15px;
}
.card-image:hover {
    transform: scale(1.1);
}