@mixin card-dimension(
  $width: 300px,
  $height: 200px,
  $color: rgba(0, 0, 0, 0.4)
) {
  border-radius: 6px;
  width: $width;
  height: $height;
  box-shadow: 0 0 8px $color;
}

@mixin desktop() {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
