/***********************************************************
    GENERAL
************************************************************/

body {
    font-family: "Lato", sans-serif;
    color: var(--black);
    background-color: var(--light);
    font-size: 20px;
    font-weight: 400;
}
h1 {
    font-size: 46px;
    font-weight: 600;
}
h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 5%;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
h5 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
p {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
a {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--mildred);
    text-decoration: none;
}
a:hover {
    color: var(--black);
}
input, textarea {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--darkgrey);
}

